body {
  background-image: linear-gradient(#615dad, #ffc8da);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  margin: 0;
}
.start {
  background-color: #0197f6;
}
.start:hover {
  background-color: #0090e9;
}
.pravidla {
  background-color: #1fcca4;
}
.pravidla:hover {
  background-color: #1cbb96;
}
.button {
  color: #ffffff;
}
