body {
  background-image: linear-gradient(#615dad, #ffc8da);
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
}
.p-20 {
  padding: 0 20px;
}
.homepage {
  height: 100vh;
}
.rules {
  height: auto;
  margin: 70px 0 30px;
}
.container {
  background-color: #283e50;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.container__homepage {
  width: 300px;
}
.container__rules {
  max-width: 90%;
}
@media screen and (min-width: 540px) and (max-width: 960px) {
  .container__rules {
    width: 80%;
  }
}
@media screen and (min-width: 960px) {
  .container__rules {
    width: 60%;
  }
}
.container__rules,
.container__homepage,
.image__homepage {
  border-radius: 7px 7px 0 0;
}
.container__homepage,
.image__homepage {
  width: 360px;
}
.image {
  height: auto;
}
.image__rules {
  width: 100%;
}
@media screen and (min-width: 540px) and (max-width: 960px) {
  .image__rules {
    width: 100%;
  }
}
@media screen and (min-width: 540px) {
  .container__rules {
    width: 80%;
  }
}
.headline {
  font-family: 'Lobster', cursive;
}
.description {
  padding: 0 10px;
  margin-bottom: 30px;
  line-height: 1.5;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 30px 30px;
}
@media screen and (min-width: 540px) {
  .content {
    width: calc(80% / 2);
    align-items: stretch;
    margin: 0 20px 20px;
  }
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 20px;
}
.legend {
  font-style: italic;
  text-align: center;
  margin: 10px 0 0;
  font-size: 16px;
}
@media screen and (min-width: 540px) {
  .legend {
    font-size: 14px;
  }
}
.list {
  margin-bottom: 40px;
  padding: 0 40px;
}
.list li {
  margin-bottom: 10px;
  font-size: 16px;
}
.icon {
  width: 1em;
  height: 1em;
  filter: invert(100%);
}
.start {
  background-color: #0197f6;
}
.start:hover {
  background-color: #0090e9;
}
.pravidla {
  background-color: #1fcca4;
  margin-bottom: 1px;
}
.pravidla:hover {
  background-color: #1cbb96;
}
.button {
  display: inline-block;
  width: 100%;
  height: auto;
  padding: 10px 0;
  color: #ffffff;
  text-decoration: none;
}
.button,
.headline,
.description {
  text-align: center;
}
